/* Mobile + Tablet hero images*/
.desktop-images {
  display: none;
}
.mobile-tablet-img {
  display: block;
}
/* Desktop */
@media (min-width: 64rem) {
  .mobile-tablet-img {
    display: none;
  }

  .desktop-images {
    display: flex;
    justify-content: space-around;
    border: 2px solid tomato;
  }
}

/* Tablet */
@media (min-width: 45rem) {
  .flex-btns {
    flex-direction: row;
    gap: var(--space-16);
  }

  .main-imgs-grid {
    display: flex;
    gap: var(--space-24);
    justify-content: center;
  }

  .footer-content {
    background: url("../assets/tablet/image-footer.jpg") center / cover;
  }
}
