/* Mobile + Tablet hero images*/
.desktop-images {
  display: none;
}
.mobile-tablet-img {
  display: block;
}
/* Desktop */
@media (min-width: 64rem) {
  .mobile-tablet-img {
    display: none;
  }

  .desktop-images {
    display: block;
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    position: absolute;
  }

  .hero-section {
    position: relative;
  }
  .hero-text-content {
    position: relative;
    z-index: 10;
  }

  .footer-content {
    padding: var(--space-112) var(--space-80);
    background: url("../assets/desktop/image-footer.jpg") center / cover;
  }

  .footer-text-content {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .footer-text-content .btn-purple {
    min-width: 11.875rem;
  }
}

/* Tablet */
@media (min-width: 45rem) {
  .flex-btns {
    flex-direction: row;
    gap: var(--space-16);
  }

  .main-imgs-grid {
    display: flex;
    gap: var(--space-24);
    justify-content: center;
  }

  .footer-content {
    background: url("../assets/tablet/image-footer.jpg") center / cover;
  }
}
